<form [formGroup]="form">
  <div>
    <label class="input-label">Old Password:</label>
    <input formControlName="oldPassword" type="password" class="form-control" />
    <div *ngIf="oldPassword?.touched && oldPassword?.errors" class="alert alert-danger">
      <div>Old password is incorrect!</div>
    </div>
  </div>
  <div>
    <label class="input-label">New Password:</label>
    <input formControlName="newPassword" type="password" class="form-control" />
    <div *ngIf="newPassword?.touched && newPassword?.value?.length == 0" class="alert alert-danger">
      New password shouldn't be empty!
    </div>
  </div>
  <div>
    <label class="input-label">Confirm Password:</label>
    <input formControlName="confirmPassword" type="password" class="form-control" />
    <div *ngIf="confirmPassword?.touched && form?.errors?.['passwordsDontMatch']" class="alert alert-danger">
      Passwords don't match!
    </div>
  </div>
  <button [disabled]="!form.valid" class="btn btn-primary">Change password</button>
</form>
