:host {
  display: block;

  padding: 8px;

  background-color: var(--primaryComponentBackground);
  border-radius: 10px;
  /* border: 1px solid rgba(223, 223, 223, 0.2); */
  user-select: none;
  box-shadow: var(--primaryBoxShadow);
}

.title-div {
  display: inline-flex;
  align-items: center;
  height: 35px;
  font-weight: bold;
  margin-left: 2px;
}

.title-image {
  height: inherit;
  padding-right: 8px;
  aspect-ratio: 1;
}

.unset {
  all: unset;
}
