:host {
  width: 450px;
  display: block;
}

span {
  display: block;
  width: 100%;
}

.title {
  font-weight: bold;
}

.value {
  filter: brightness(80%);
  margin-left: 8px;
}

input {
  display: block;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.form-group {
  display: grid;
  grid-auto-columns: 100%;
  gap: 12px;

  width: 100%;
}
