:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  height: 20px;
  color: var(--primaryFontColor);
  padding: 8px 2px;
  background-color: var(--primaryComponentBackground);
  border-radius: var(--primaryRadius);
  box-shadow: var(--primaryBoxShadow);
}

.search-bar {
  /* width: -moz-available; */
  width: calc(100% - 18px);
  padding: 5px 8px;
  outline: none;

  border: 0px;
  border-radius: var(--primaryRadius) 0px 0px var(--primaryRadius);

  color: var(--primaryFontColor);
  background-color: var(--backgroundC);
}

.btn-first {
  border-radius: 8px 0px 0px 8px;
}

.btn-last {
  border-radius: 0px 8px 8px 0px;
}

.btn {
  padding: 6px 8px;
  outline-color: transparent;

  border: 0px;

  background-color: transparent;
  color: var(--primaryFontColor);
  filter: brightness(0.8);
}

.btn:hover {
  background-color: var(--primaryComponentHover);
}
